1) Write an SQL query to show the top n (say 10) records of a table. 

:- select * from worker order by salary DESC limit 10;

2) Write an SQL query to determine the nth (say n=5) highest salary from a table.

:- select * from worker order by salary DESC limit n-1,1;

  ### The following SQL query returns nth highest salary
  SELECT TOP 1 Salary
  FROM (
  SELECT DISTINCT TOP n Salary
  FROM Worker 
  ORDER BY Salary DESC
   )
  ORDER BY Salary ASC;